@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap');

:root {
    --primary-verydarkBlue: hsl(243, 87%, 12%);
    --primary-desaturatedBlue: hsl(238, 22%, 44%);

    --accent-brightBlue: hsl(224, 93%, 58%);
    --accent-moderateCyan: hsl(170, 45%, 43%);

    --neutral-lightgrayishBlue: hsl(240, 75%, 98%);
    --neutral-lightGray: hsl(0, 0%, 75%);

    --fs-paragraph: 1rem;

    /*Headings, Call-to-actions, Header Navigation*/
    --ff-heading: 'Raleway', sans-serif;

    --ff-body: 'Open Sans', sans-serif;

    --fw-Bold: 700;
}

/*=======================================*/
/*||||||||||=====CSS RESET=====||||||||||*/
/*=======================================*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

html {
    color-scheme: dark light;
}

body {
    min-height: 100vh;
}

img,
picture,
svg,
video {
    display: block;
    max-width: 100%;
}

a {
    text-decoration: none;
}

button:hover {
    cursor: pointer;
}

li {
    list-style: none;
}

.sr-only:not(:focus):not(:active) {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

/*========================================*/
/*========================================*/

body {
    background-color: white;
    font-family: var(--ff-body);
    font-size: 1.75rem;
}

main {
    width: 100%;
}

h2 {
    font-family: var(--ff-heading);
    color: var(--primary-verydarkBlue);
}

p {
    color: var(--primary-verydarkBlue);
}

header {
    display: flex;
    padding: 0 48px;
    margin: 3rem 0 11.875rem 0;
    justify-content: flex-end;
}

header svg {
    margin-right: auto;
}

.nav_links {
    display: flex;
    gap: 3rem;
}

.nav_links a {
    color: var(--primary-verydarkBlue);
}

.fylo-intro {
    text-align: center;
    padding-bottom: 11.25rem;
}

.illustration-1 {
    width: 75%;
    margin: 0 auto;
}

.get-started h2 {
    font-weight: var(--fw-Bold);
    font-size: 3rem;
    margin: 5.625rem 2.5rem 3.75rem 2.5rem;
}

.get-started p {
    margin: 0 5.625rem 3.75rem 5.625rem;
}

.email {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.email input,
.email button {
    width: 38rem;
    height: 5rem;
    border-radius: 0.3125rem;
}

.email input {
    background-color: white;
    color: var(--primary-verydarkBlue);
    padding-left: 2.5rem;
    margin-bottom: 2rem;
    border-color: var(--primary-desaturatedBlue);
    border-style: solid;
}

.email button {
    background-color: var(--accent-brightBlue);
    font-family: var(--ff-heading);
    font-weight: var(--fw-Bold);
    border: none;
    color: var(--neutral-lightgrayishBlue);
}

.email button,
.free-trial button:hover {
    background-color: hsl(221, 100%, 71%);
}

::placeholder {
    color: var(--neutral-lightGray);
}

/*===========================================*/

.productive {
    background-color: var(--neutral-lightgrayishBlue);
    padding-bottom: 10.1875rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.illustration-2 {
    margin: 0 auto;
    width: 75%;
}

.productive h2 {
    font-size: 2rem;
    font-weight: var(--fw-Bold);
    text-align: center;
    margin: 0 0 3.75rem 0;
}

.prod-desc p {
    margin: 0 3.75rem 0 2.5rem;
    color: var(--primary-desaturatedBlue);
}

.see-more {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 0 14.0625rem;
    padding-bottom: 0.3125rem;
    position: relative;
}

.see-more::after {
    content: " ";
    position: absolute;
    bottom: -5px;
    height: 2px;
    width: 100%;
    background-color: var(--accent-moderateCyan);
}

.see-more a {
    color: var(--accent-moderateCyan);
}

.see-more svg {
    display: inline;
    margin: 0 0 0 0.625rem;
    width: 1rem;
    height: 1rem;
    background-color: #3DA08F;
    border-radius: 100%;
}

.see-more:hover::after {
    color: hsl(174, 59%, 88%);
    background-color: hsl(174, 59%, 88%);
}

.see-more svg:hover {
    background-color: hsl(174, 59%, 88%);
}

.see-more a:hover {
    color: hsl(174, 59%, 88%);
}

.testimonial {
    padding: 2.25rem 0 2.5rem 0;
    margin: 0 5.9375rem 0 5.9375rem;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 0.625rem;
    box-shadow: 0px 0px 1.875rem var(--neutral-lightGray);
}

.testimonial img {
    display: flex;
    justify-content: left;
    align-items: left;
    width: 1.8125rem;
    height: 1.8125rem;
    margin: 0 0 1.5625rem 0;
    margin-left: 3.125rem;
}

.testimonial p {
    font-size: 1.3125rem;
    margin: 0 2rem 2rem 3.3125rem;
    color: var(--primary-verydarkBlue);
}

.profile {
    display: flex;
}

.profile img {
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
}

span {
    margin-left: 0.875rem;
}

.profile h3 {
    color: var(--primary-verydarkBlue);
    font-family: var(--ff-heading);
    font-weight: var(--fw-Bold);
    font-size: 1.3125rem;
}

.profile p {
    font-size: 0.8125rem;
    margin: 0;
}

/*====================================*/
.early-access {
    background-color: var(--primary-desaturatedBlue);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.early-access h2 {
    color: white;
    font-weight: var(--fw-Bold);
    font-size: 2.25rem;
    margin: 7.1875rem 0 3.125rem 0;
}

.early-access p {
    font-size: 1.75rem;
    color: white;
    padding: 0 7.375rem 0 4.5rem;
    margin-bottom: 3.125rem;
}

.free-trial input,
.free-trial button {
    width: 30rem;
    height: 4rem;
    border-radius: 0.3125rem;
    margin: 0 8.625rem 0 8.25rem;
}

.free-trial input {
    background-color: white;
    color: var(--primary-verydarkBlue);
    padding-left: 1.25rem;
    margin-bottom: 2rem;
    border-color: var(--primary-desaturatedBlue);
    border-style: solid;
}

.free-trial button {
    background-color: var(--accent-brightBlue);
    font-family: var(--ff-heading);
    font-weight: var(--fw-Bold);
    border: none;
    margin-bottom: 8.875rem;
    color: var(--neutral-lightgrayishBlue);
}

/*===========================================*/

footer {
    display: flex;
    flex-direction: column;
    padding-left: 5rem;
    padding-bottom: 5.875rem;
    padding-top: 8.125rem;
    background-color: var(--primary-verydarkBlue);
    line-height: 2em;
}

footer path {
    fill: var(--neutral-lightgrayishBlue);
}

.contact-info {
    margin-top: 4.5rem;
}

.contact-info img {
    display: inline;
    margin-right: 0.625rem;
}

.contact-info p {
    color: var(--neutral-lightgrayishBlue);
}

footer nav {
    margin-top: 7.5rem;
    margin-bottom: 5rem;
}

footer li {
    list-style: none;
}

footer a {
    color: var(--neutral-lightgrayishBlue);
}

.contact-list {
    margin-top: 6.25rem;
}

.social-media {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.social-media svg {
    width: 3.375rem;
    height: 3.375rem;
}

.twitter {
    margin: 0 1.375rem;
}

.footer-nav a:hover {
    color: var(--accent-brightBlue);
}

.social-media path:hover {
    fill: var(--accent-brightBlue);
}

/*=========================================*/

@media (min-width: 751px) {
    body {
        font-size: var(--fs-paragraph);
    }

    main {
        padding-top: 4rem;
    }

    header {
        margin: 0 0 10rem 0;
        padding: 0 5rem;
    }

    .fylo-intro {
        display: flex;
        flex-direction: row-reverse;
        text-align: left;
        padding: 0 5rem;
        align-items: center;
        gap: 3.125rem;
        padding-bottom: 11.25rem;
    }

    .get-started {
        width: 50%;
    }

    .get-started h2 {
        margin: 0 0 2rem 0;
        font-size: 2.375rem;
    }

    .get-started p {
        padding: 0;
        margin: 0 0 1.75rem 0;
        font-size: 1.1875rem;
    }

    .email {
        display: flex;
        flex-direction: row;
        justify-content: left;
        margin: 0;
        gap: 1rem;
    }

    .email input {
        width: 20rem;
        height: 2.8125rem;
        margin: 0;
        border: 0.0625rem solid var(--neutral-lightGray);
        border-radius: 0.1875rem;
        padding-left: 1.25rem;
    }

    .email button {
        width: 12.5rem;
        height: 2.8125rem;
    }

    .illustration-1 {
        width: 50%;
    }

    .productive {
        display: flex;
        flex-direction: row-reverse;
        margin: 0;
        padding: 0 5rem 6.625rem 5rem;
        text-align: left;
        gap: 5rem;
    }

    .illustration-2 {
        width: 50%;
    }

    .prod-desc {
        width: 50%;
    }

    .prod-desc h2 {
        margin: 0 0 2.5rem 0;
        text-align: left;
        font-size: 2.25rem;
    }

    .prod-desc p {
        padding: 0 3.75rem 0 0;
        margin: 0;
    }

    .see-more {
        display: flex;
        justify-content: left;
        margin: 0 0 2.5rem 0;
        width: 21%;

    }

    .testimonial {
        width: 22.25rem;
        height: 13.5rem;
        display: flex;
        margin: 0;
        padding: 0 1.25rem 0 2.0625rem;
    }

    .testimonial img {
        width: 0.8125rem;
        height: 0.75rem;
        margin: 1.5625rem 0 1.1875rem 0;
    }

    .testimonial p {
        font-size: 0.875rem;
        padding: 0;
        margin: 0 0 1.0625rem 0;
    }

    #bg-curve-mobile{
        width: 100%;
    }

    .profile {
        margin: 0;
        padding: 0;
    }

    .profile img {
        width: 2rem;
        height: 2rem;
        margin: 0;
    }

    span {
        margin-left: 8px;
    }

    .profile h3 {
        font-size: 0.875rem;
    }

    .profile p {
        font-size: 0.625rem;
    }

    .early-access {
        display: flex;
        flex-direction: row;
        margin: 0;
        padding: 7rem 5rem 6.125rem 5rem;
        gap: 15.25rem;
    }

    .ea-desc {
        text-align: left;
        width: 50%;
        padding: 0;
        margin: 0;
    }

    .ea-desc h2 {
        margin: 0;
        padding: 0;
        font-size: 1.875rem;
        margin-bottom: 1.875rem;
    }

    .ea-desc p {
        padding: 0;
        margin: 0;
        font-size: 1rem;
    }

    .free-trial {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
        width: 50%;
        gap: 1rem;
    }

    .free-trial input {
        width: 30rem;
        height: 3rem;
        margin: 0;
        padding-left: 1.25rem;
    }

    .free-trial button {
        width: 12.5rem;
        height: 3rem;
        margin: 0;
        padding: 0;
    }

    footer {
        display: flex;
        flex-direction: row;
        padding: 6.875rem 5rem 4.5rem 5rem;
        margin: 0;
        height: 24.4375rem;
    }

    .fylo-footer {
        margin: 0 13.75rem 0 0;
        padding: 0;
    }

    .contact-info {
        margin: 1.5rem 0 0 0;
    }

    .footer-nav {
        display: flex;
        gap: 11.875rem;
        margin: 0;
        padding: 4.375rem 0 0 0;
    }

    .contact-list {
        margin-top: 0;
        margin-right: 11.5625rem;
    }

    .social-media {
        margin: 0;
        padding: 3.75rem 0 0 0;
    }

    .social-media a {
        height: 1.9375rem;
        width: 1.9375rem;
    }

}